

/* Navigation Bar up top */
.nav-links li {
    display: inline-block;
    font-family: ;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: ;
    background-color: ;
    padding: 0px 50px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Monaco";
    padding: 10px;
    background-color: ;
}

#header-div{
    width: 95%;
    width: 75%;
    margin: 0 auto;
    /* height: 150px; */
}

.nav-links li {
   
}

#the-whole-page-div{
    display:flex; 
    flex-direction: row;
    margin: 0 auto;
    background: ;
    width: 95%;
} 

/* Top 10 Anime Title */
#main-title {
    font-family: "Monaco";
    font-size: 20px;
    font-weight: ;
    color: ;
    background-color: ;
    text-align: center;
}

#left-images{
    display: grid;
    align-items: left;
    position: top;
    margin-right:15px;
    justify-content: left;
    float: left;
    margin-top: 0px;
    width: 325px;
    border-style: dashed;
    border-color: red;
    /* flex: 1; */
}

.left {
    display:block;
    float: left;
    width:250px;
    /* margin-left: 15px;
    margin-right:15px; */
    margin-bottom: 0px ;
    margin-top: 0px;
}

#biggerContainer{
    /* display: flex; */
    margin: auto;
    text-align: center;
    display: block;
    width: 100%;
    justify-content: center;
    height: 1000px;
    
}

/* The entire central container*/
#detail-content-container {
    display: flex;
    flex-direction: ;
    justify-content: center;
    background-color: #364591;
    margin: 0 auto;
    /* margin-left: 15px;
    margin-right: 15px; */
    height: 700px;
    width: 90%;
    border-radius: 25px;
    float: center;
    justify-self: center;
}

/* Left side of the central container */
#left-inner-container {
    display: flex;
    flex-direction: column;
    height: ;
    width: 500px;
    background: none;
    font-weight: ;
    padding: ;
}

/* Anime stock image on the left side of central container */
#default-anime-image {
    /* height: 300px; */
    width: 90%;
    padding: 25px;
    align-self: center;
    border-radius: 25px;
    margin-top: 60px;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: ;
}

/* The title on the left side of central container */
#anime-title {
    font-family: "Monaco";
    font-size: 40px;
    background: none;
    color: ;
    text-align: center;
}

/* Line down the middle */
#vertical-line {
    border-left: 1px solid #FBEAEB;
    height: 680px;
    margin-right: 40px;
    align-self: center;
}
/* Right side of the central container */
#right-inner-container {
    display: flex;
    flex-direction: column;
    height: ;
    width: 700px;
    background: none;
    font-weight: ;
    padding: ;
}

/* The Synopsis title above the description box*/
#anime-description {
    font-family: "Monaco";
    font-size: 40px;
    background: none;
    color: ;
    margin-left: ;
}

/* The anime summary box*/
#anime-description-box {
    width: 500px;
    /* height: 300px; */
    height:auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 25px;
    padding: 25px;
    background-color:  #FBEAEB;
}

/*The summary text paragraph*/
#anime-description-body {
    
}

#right-images{
    display: grid;
    align-items: right;
    position: top;
    float: right;
    margin-left: 15px;
    margin-top: 0px;
    justify-content: right;
    width: 325px;
    border-style: dashed;
    border-color:purple
    /* flex: 1 */
}

.right {
    float: right;
    display:block;
    width: 250px; 
    margin-bottom: 0px ;
    margin-top: 0px;
}

p {
    margin-bottom: 5px ;
    margin-top: 5px;
    margin-left: 0px;
    font-family: "Monaco";
    font-weight: 900;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 75px;
}

#like-button {
    background: none;
    margin-right: 50px;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

#like-button {
    background: none;
    margin-right: 50px;
    border: none;
    cursor: pointer;
    font-size: 25px;
}
#like-button2 {
    background: none;
    margin-right: 50px;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

#dislike-button {
    background: none;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    font-size: 25px;
}
#dislike-button2 {
    background: none;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    font-size: 25px;
}
#happy-face-static {
    background: none;
}

#happy-face-bounce {
    background: none;
}

#angry-face-static{
    background: none;
        
}

#angry-face-bounce {
    background: none;
        
}

#like-button-count {

}

#dislike-button-count {

}
/* Big container holding the 2 blue comment containers */
#big-mamma-comment-container {
    /* margin: auto;
    text-align: center;
    display: block;
    width: 100%;
    justify-content: center;
    height: ;
    width: ;
    border-color: green;
    border-style: dashed; */
    margin: auto;
    text-align: center;
    display: block;
    width: 100%;
    justify-content: center;
    height: 1000px;
}

/* Outer container that holds the comment and post boxes */
#comment-box {
    display: flex;
    flex-direction: row;
    background: none;
    background-color: #364591;
    margin: 10px auto;
    height: 60px;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: ;
    
    /* justify-content: center;
    float: center;
    justify-self: center; */
}

/*  Username, leave a review, and post boxes*/
#comment-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/*  */
#comment-username {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    vertical-align: middle;
    padding: 0 20px;
    border: 
    font-family: ;
    font-weight: ;
    text-align: ;
}

/*  */
#comment-text {
    width: 400px;
    height: 30px;
    border-radius: 20px;
    vertical-align: middle;
    margin-left: ;
    padding: 0 10px;
    border: 
    font-family: ;
    font-weight: ;
    text-align: ;
}


/*  Container where the comments go*/
#comment-container {
    display: ;
    background: none;
    background-color: #364591;
    margin: 10px auto;
    height: auto;
    width: 90%;
    border-radius: 25px;
    font-family: "Monaco";
    font-size: 22.5px;
    padding: 10px;
    color: ;
    box-shadow: ;
    text-align: left;
    list-style-type: none;

}

#comment-header {
    margin-top: 0;
    text-align: center;
    font-family: "Monaco";
    font-size: 35px;
}

li {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: ;
    text-align: ; 
    
}

#second-the-whole-page-div {
    display: flex; 
    flex-direction: row;
    margin: 0 auto;
    background: ;
    width: 95%;
    border-style: dashed;
    border-color: green;
}

#blank-space-1 {
    display: grid;
    align-items: left;
    position: top;
    margin-right:15px;
    justify-content: left;
    float: left;
    margin-top: 0px;
    width: 325px;
    border-style: dashed;
    border-color: red;
}

#blank-space-2 {
    display: grid;
    align-items: right;
    position: top;
    float: right;
    margin-left: 15px;
    margin-top: 0px;
    justify-content: right;
    width: 325px;
    border-style: dashed;
    border-color:purple;
}